<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="wwwtononwww" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.wemachine\.in$" />
          </conditions>
          <action type="Redirect" url="http://wemachine.in/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
        <security>
            <ipSecurity allowUnlisted="true" denyAction="AbortRequest">
            </ipSecurity>
        </security>
  </system.webServer>
</configuration>